<ion-view title="add student">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">rollno :</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">name :</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button class="button button-positive button-block ">ADD</button>
    </ion-content>
</ion-view>