<ion-view title="welcome">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">class :</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">subject :</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="page" class="button button-positive button-block ">save</a>
    </ion-content>
</ion-view>